BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
SortIncludes: Never
AlignEscapedNewlines: DontAlign
